/*
PALETA DE COLORES...
 https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff 
*/

* {
    box-sizing: border-box;
}

body {
    color: #0D1B2A;
    background-color: #E0E1DD;
    height: 100vh;
}

h2 {
    color: #415A77;
}

p {
    font-size: 1.15rem;
}

.boton {
    background-color: #1B263B;
    color: #E0E1DD;
}

.boton:hover {
    background-color: #778DA9;
    color: #1B263B;
}

.clouds {
    background-image: url("../img/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    background-image: url("../img/clear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rain {
    background-image: url("../img/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-weight: 600;
}

.snow {
    background-image: url("../img/snow.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-weight: 600;
}

.bg-blanco {
    background-color: #e0e1dd94;
}